:root {
  --border-bottom: 4px solid rgb(226, 61, 61);
  --color-primary: #E0354b;
  --background-color-white: white;
  --padding: 1.2rem;
  --font-size-main: 1rem;
}
.App {
  height: 100vh;
  padding: 10px;  
}
.main {
  padding: 2px 8px;
  height: 100vh;
}