:root {
    --padding: 1.2rem;
    --font-size-main: 1rem;
}

.App-body {
    font-size: var(--font-size-main);
    padding: calc(var(--padding) *2);
    height: 50vh;
}

.App-body input {
    margin: 0 16px 0 8px;
}