:root {
    --border-bottom: 4px solid rgb(226, 61, 61);
    --color-primary: #E0354b;
    --background-color-white: white;
}

.App-header {
    background-color: var(--background-color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: white;
    border-bottom: var(--border-bottom);
}

.App-header h1 {
    color: var(--color-primary);
    display: flex;
}

.App-logo {
    height: 200px;
    width: 200px;
}